*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 8, 30);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-container{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 25, 48);
    border-radius: 10px;
    flex-direction: column;
}

#time{
    color: rgb(28, 174, 28);
    font-size: 3.5em;
    margin: 0px 10px 15px 10px;
}

#date{
    color: rgb(92, 91, 91);
    font-size: 1.5em;
}