*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 5em;
    margin: 20px 10px;
}

#timer{
    font-size: 5rem;
}

.input{
    font-size: 2em;
    width: 20%;
    height: 100px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.input input{
    height: 50px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom:20px;
}

.input input:focus{
    outline: none;
}

.input button{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 70%;
    font-size: 0.65em;
    background-color: #f7f2f2;
}

.input button:hover{
    background-color: rgb(228, 226, 223);
}